In [2]:
my_str = 'she sells sea shellS on the sea shore'
my_str.capitalize()

'She sells sea shells on the sea shore'

In [ ]:
# WAP to mimic the code of capitalize method without using built in methods 

- Check if the string is empty---> return the string as it is 
- Take the first character --> convert it into the upper case letter, if it is already in the upper case letter 
- Take the remaining characters and check if any character is in uppercase ---> convert it into lowercase
- Join everything

In [8]:
def mimic_capitalize(s):

    # If the string is empty, return it 
    if len(s) == 0:
        return s
    else:
        result = '' # store the output 
        
        # Step-1:Capitalize the first letter
        fc = s[0]

        if 'a'<=fc<='z': # manually checking lowercase 
            result += chr(ord(fc)-32)
        else:
            result += fc

        # Step-2: make all the remaing character lowercase 
        for i in s[1:]:
            if 'A'<=i<='Z': # manually check for the uppercase letter 
                result += chr(ord(i)+32)
            else:
                result += i

    return result

In [9]:
my_str = 'she sElls seA shellS oN tHe sea shoRe'

In [10]:
mimic_capitalize(my_str)

'She sells sea shells on the sea shore'

In [3]:
ord('A') ---> ASCII value of the particular character 
chr(65) ----> RETURN THE CHARACTER THE VALUE IS ASSOCIATED TO

65

In [7]:
chr(ord('a')-32)

'A'

In [5]:
97-65

32

In [12]:
"A"<'a'

True

In [13]:
ord("A")

65

In [14]:
ord('a')

97

In [17]:
my_str = 'she sells sea shells on the sea shore'
my_str.split()

['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

In [ ]:
- First we will check for space characters
    - if the letter is not a space ---> concatenate it to form a word
    - if the letter is a space ---> concatenate the word into the list

In [23]:
word = '' # store the word 
output = [] # store the final output 

for i in my_str:
    # check for the space 
    if i != ' ':
        # formulate the word 
        word = word+i  # word += i
        print(word)
    else:
        output = output+[word]
        word = ''
        print(output)
        print('-'*20)
        
output = output+[word]
print(output)

s
sh
she
['she']
--------------------
s
se
sel
sell
sells
['she', 'sells']
--------------------
s
se
sea
['she', 'sells', 'sea']
--------------------
s
sh
she
shel
shell
shells
['she', 'sells', 'sea', 'shells']
--------------------
o
on
['she', 'sells', 'sea', 'shells', 'on']
--------------------
t
th
the
['she', 'sells', 'sea', 'shells', 'on', 'the']
--------------------
s
se
sea
['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea']
--------------------
s
sh
sho
shor
shore
['she', 'sells', 'sea', 'shells', 'on', 'the', 'sea', 'shore']

In [18]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [19]:
['python']

['python']

In [25]:
word = '' # store the word 
output = [] # store the final output 

for i in my_str:
    # check for the space 
    if i != ' ':
        # formulate the word 
        word = i+word  # word += i
        # print(word)
    else:
        output = output+[word]
        word = ''
        # print(output)
        # print('-'*20)
        
output = output+[word]
print(output)

['ehs', 'slles', 'aes', 'sllehs', 'no', 'eht', 'aes', 'erohs']

In [28]:
word = '' # store the word 
output = [] # store the final output 

for i in my_str:
    # check for the space 
    if i != ' ':
        # formulate the word 
        word = word+i  # word += i
        # print(word)
    else:
        output = [word]+output
        word = ''
        # print(output)
        # print('-'*20)
        
output = [word]+output
print(output)

['shore', 'sea', 'the', 'on', 'shells', 'sea', 'sells', 'she']

In [31]:
word = '' # store the word 
output = [] # store the final output 

for i in my_str:
    # check for the space 
    if i != ' ':
        # formulate the word 
        word = i+word  # word += i
        # print(word)
    else:
        output = [word]+output
        word = ''
        # print(output)
        # print('-'*20)
        
output = [word]+output
print(output)

['erohs', 'aes', 'eht', 'no', 'sllehs', 'aes', 'slles', 'ehs']

In [38]:
def mimic_split(s, delimiter = ' '):
    word = '' # store the word 
    output = [] # store the final output 
    
    for i in s:
        # check for the space 
        if i != delimiter:
            # formulate the word 
            word = i+word  # word += i
            # print(word)
        else:
            output = [word]+output
            word = ''
            # print(output)
            # print('-'*20)
            
    output = [word]+output
    return output

In [39]:
mimic_split(my_str)

['erohs', 'aes', 'eht', 'no', 'sllehs', 'aes', 'slles', 'ehs']

In [40]:
mimic_split(my_str,'e')

['', 'rohs a', 's ', 'ht no sll', 'hs a', 's sll', 's ', 'hs']

In [ ]:
for i in range(1,11):
    print(i)
    i+= 2

# i = 1,